body{
    width: 90%;
    max-width: 800px;

}

@media(max-width:640px) {
html{background-color: #eaf6ff;}
}

@media(max-width: 500px){
    h1{font-size:1.5rem}
}

#fixed-size-grid-items li{
    font-size: 0.8rem;
    display: block;
}

#fixed-size-grid-items aside{
    width: 170px;
    margin: 10px;
}

#fixed-size-grid-items ul{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}